<h1>Job <%= job.jobID%></h1>
<p>Company: <%= job.company%></p>
<p>Part ID: <%= job.partID%></p>
<p>Status: <%= job.status%></p>
<h4>COMMENTS:</h4>
<br>

<a href="/admin/clients/<%= job.clientID%>">Back</a>