<link rel="stylesheet" href="/admin/job/job.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
<div class = "edit-job">Edit Job</div>
<h1>Job <%= job.jobID%></h1>
<p>Company: <input class = "form" type="text" value="<%= job.company%>" readonly></p>
<p>Part ID: <input class = "form" type="text" value="<%= job.partID%>" readonly></p>

<div id="job-completion-div" style="border-radius:5px;width: 100px; height: 20px; background-color: darkgray;"></div>
<div id = "input1">
    
</div>
<h4>COMMENTS:</h4>

<br> 
<br>
<br>
<h4>CHECKLIST LOG:</h4>
<table>
    
    
    <tr>
        <th>Checklist Item</th>
        <th>Short Description</th>
        <th>Time Estimate</th>
        <th>Status</th>
    </tr>
    <% checklist.forEach(function(item) { %>
        <tr class = "checklist-row">
            <td><%= item.sequence%></td>
            <td><%= item.checklistActivity%></td>
            <td><%= item.timeEstimate%></td>
            <% switch (item.status) {
                case 0 : %>
                        <td style="background-color: red;"><%= item.status%></td>
                        <% break;
                
                case 1 : %>
                        <td style="background-color: yellow;"><%= item.status%></td>
                        <% break;
                
                case 2 : %>
                        <td style="background-color: green;"><%= item.status%></td>
                        <% break;
                
                    } %>
                <td class = "edit checklist-icon">&#9998</td>
                <td class = "move-up checklist-icon">&uarr;</td>
                <td class = "move-down checklist-icon">&darr;</td>
                <td class = "delete checklist-icon">&#10005</td>
        </tr>
    <% }); %>
    <tr class = "checklist-add-job">Add Job</tr>
</table> 
<script>
    completion = document.getElementById("job-completion-div")
    percent = <%= completion %>*100
    completion.innerHTML = "<div style= \"width: "+ percent+"px; height:20px; background-color: blue; border-radius:5px; color:whitesmoke; font-weight:600\">Status</div>"
</script>
<script src="/admin/job/autocorrect.js"></script>
<script src="/admin/job/job.js"></script>
<a href="/admin/clients/<%= job.clientID%>">Back</a>